<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="app.js" path="app.js" verb="*" modules="iisnode" resourceType="File"/>
        </handlers>
        <rewrite>
        <rules>
            <rule name="ReqToAppjs">
                <match url=".*" />
                <action type="Rewrite" url="app.js" />
            </rule>
        </rules>
    </rewrite>
    <iisnode
        devErrorsEnabled="true"
        loggingEnabled="true"
        logDirectory="iisnode" />
    </system.webServer>
</configuration>
